@model PIXIE_PHOTOS.Models.Photos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Photos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Album_Title" class="control-label"></label>
                <input asp-for="Album_Title" class="form-control" />
                <input asp-for="picture" type="file" name="file" />
                <input type="submit" value="Upload" class="btn btn-primary" />
                <span asp-validation-for="Album_Title" class="text-danger"></span>
            </div>
           
                
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
