@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Imagine Photos</h1>
    <p>A Life Well Captured!  <a href="https://docs.microsoft.com/aspnet/core">Pixie Photos</a>.</p>
</div>
